.cover__link {
    text-decoration: none;
    max-width: 1184px;
    max-height: 740px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
  
  }
  
  .cover__link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
  }