.place__title {
  max-width: 460px;
  font-weight: normal;
  font-size: 72px;
  line-height: 1.05;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
   min-width: 440px;
   font-size: 72px;
   line-height: 1.05;
  }
}
@media screen and (max-width: 768px) {
  .place__title {
   min-width: 340px;
   font-size: 42px;
   line-height: 1.09;
  }
}
@media screen and (max-width: 679px) {
  .place__title {
    padding: 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}