.place__paragraph {
    margin-bottom: 26px;
}
.place__paragraph:last-of-type {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1024px) {
    .place__paragraph {
      max-width: 456px;
      margin: 0 auto 26px;
    }
  }
  *@media screen and (max-width: 768px) {
    .place__paragraph {
      max-width: 352px;
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width: 320px) {
    .place__paragraph {
      max-width: 320px;
      margin-bottom: 25px;
    }
  }
  