.lead__subtitle {
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 640px;
  min-width: 288px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
      line-height: 1.04;
      margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
      min-width: 640px;
      line-height: 1.04;
      margin-bottom: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
      min-width: 288px;
      font-size: 16px;
      line-height: 1.25;
      margin-top: 16px;
      margin-bottom: 40px;
  }
}