.lead__caption {    
  margin: 0; 
  min-width: 158px;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: flex-start;
}