.intro__lists { 
  padding: 0;
  max-width: 690px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  list-style-type: none;
  margin-top: 33px;
}
 
@media screen and (max-width: 768px) {
  .intro__lists {
   margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro__lists {
   margin-top: 34px;
   margin-bottom: 64px;
  }
}